@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css');
@import url('./popup.css');

body {
	font-family: 'Vollkorn', sans-serif;
	line-height: 1.6;
}
button{
	/* border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	line-height: 1px; */
}
.app{
	width: 100%;
}

ul, h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

h1{
	font-size: 24px !important;
	margin: 0 36px !important;
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
}

p{
	padding: 6px 40px 12px 36px;

}
.lida{
	background: #ffe1d6
}
.section-wrapper{
	background-color: #fff;
	width: 540px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 48px;
	box-shadow: 0 6px 28px rgba(0,0,0,0.08), 0 6px 10px rgba(0,0,0,0.08);
}
.borjomi > .section-wrapper{

}

@media only screen and (max-width: 500px) {
	.section-wrapper{
		background-color: #fff;
		width: 100%;
		padding: 20px
	}
}



.lida-photo{
	width: 30vh;
	height: 30vh;
	margin: 36px auto;
	border-radius: 1000px;
	background: url('./lida-photo.jpg');
	background-size: 130% auto;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.represent{
	text-align: center;
	margin: 0 12px;
	font-size: 24px;
	padding-bottom: 124px;
}

.page{
}



.borjomi, .mailfit, .professor, .datravel, .lida{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4em 0 6em;
}
.borjomi{
	color: #002319;
	background-color: #ccf0f0;
}
.mailfit{
	background: #140852;
	color: #131127;
}
.datravel{
	background: #e2a73f;
	color: black;
}
.professor{
	background: #e1ffba;
	color: black
}

button.modal-button{
	padding: 12px;
	border: none;
	cursor: pointer;
	letter-spacing: 1px;
	transition: .124s;
	margin: 12px 0 0;
	width: 100%;
	font-weight: 400;
	background: none;
}
button.modal-button-barjomi {
	color: white;
	background: #b41d22;
}
button.modal-button-barjomi:hover{
	background:#3e9d5b;
	color: white;
}
button.modal-button-mailfit{
	background:#220e89;
	color: white;
}
button.modal-button-mailfit:hover {
	background:white;
	color: #220e89;
}
button.modal-button-datravel{
	background:#43cc5f;
	color: white;
}
button.modal-button-datravel:hover {
	background:white;
	color: #ed1c29;
}
button.modal-button-professor{
	background: #220e89;
	color: white;
}
button.modal-button-professor:hover {
	background:white;
	color: #220e89;
}

@media only screen and (max-width: 580px) {
	.lida-photo{
		width: 20vh;
		height: 20vh;
	}
	.represent{
		font-size: 18px;
	}
	.borjomi, .mailfit, .professor, .datravel, .lida{
		padding: 0;
	}
	.section-wrapper{
		margin-bottom: 0;
	}
	button{
		margin: 12px auto 12px 36px !important;
		width: auto !important;
	}
}
