@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css');
@import url('./popup.css');

body {
	font-family: 'Vollkorn', sans-serif;
	background: rgba(255, 240, 240, 1);
	line-height: 1.6;
}
.app{
	width: 100%;
}
ul{
	padding: 0;
	margin: 0;
}
h1, h2, h3, p, button {
	padding: 0;
	margin: 0;
}
p{
	font-weight: 300;
	letter-spacing: .04em;
}
h3{
	text-transform: uppercase;
	padding: 12px 0 6px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .3em;
}

.lida-photo{
	width: 30vh;
	height: 30vh;
	margin: 36px auto;
	border-radius: 1000px;
	background: url('./lida-photo.jpg');
	background-size: 130% auto;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.represent{
	text-align: center;
	margin: 0 12px;
}
.page{
}

.borjomi, .mailfit, .professor, .datravel, .lida{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.borjomi{
	background: #33977c;
	color: white;
}
.mailfit{
	background: #131127;
	color: white;
}
.datravel{
	background: #126;
	color: white;
}
.professor{
	background: #e2b344;
	color: white;
}

h1, h2, h3, p, button {
	max-width: 500px;
	width: 100%;
}
@media only screen and (max-width: 500px) {
	h1, h2, h3, p, button {
		max-width: 100%;
	}
}