@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css');
@import url('./popup.css');

body {
	font-family: 'Vollkorn', sans-serif;
	background: rgba(255, 240, 240, 1);
	line-height: 1.6;
}
button{
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	line-height: 1px;
}
.app{
	width: 100%;
}

ul, h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

h1{
	font-size: 12px;
	margin-left: 32px !important;
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
}

p{
	padding: 6px 40px 40px 32px;

}

.section-wrapper{
	background-color: #fff;
	width: 540px;
	border-radius: 4px;
	overflow: hidden;

}
.borjomi > .section-wrapper{
	box-shadow: 0 14px 28px rgba(0,24,24,0.25), 0 10px 10px rgba(0,24,24,0.25);
}

@media only screen and (max-width: 500px) {
	.section-wrapper{
		background-color: #eee;
		width: 100%;
		padding: 20px
	}
}



.lida-photo{
	width: 30vh;
	height: 30vh;
	margin: 36px auto;
	border-radius: 1000px;
	background: url('./lida-photo.jpg');
	background-size: 130% auto;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.represent{
	text-align: center;
	margin: 0 12px;
	font-size: 24px;
	padding-bottom: 124px;
}

.page{
}


button.modal-button{
	background: rgba(180,29,34,.7);
	font-size: 12px;
	text-transform: uppercase;
	width: 100%;
	border: none;
	padding: 16px 0 18px;
	color: white;
	letter-spacing: 1px;
	transition: .124s
}
button.modal-button:hover{
	background: rgba(180,29,34,1);
}

.borjomi, .mailfit, .professor, .datravel, .lida{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4em 0 6em;
}
.borjomi{
	color: #002319;
	background-color: #ccf0f0;
	background: url('./borjomi.svg') no-repeat 50% 100%;
	background-size: 100% auto;
}
.mailfit{
	background: #131127;
	color: white;
}
.datravel{
	background: #126;
	color: white;
}
.professor{
	background: #e2b344;
	color: white;
}

.borjomi-svg{}
