nav.navigation {
	display: flex;
	margin-top: 24px;
	width: 200px;
	flex-direction: column;
	letter-spacing: 1pt;
	font-weight: 600;
}
nav > a {
	cursor: pointer;
	padding: 6px 6px 6px 24px;
	font-size: 10px;
	font-weight: 400;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
	text-decoration: none;
}
nav > a.active{
	text-transform: uppercase;
	text-decoration: none;
	color: red;
}
